{% load static %}

    {% include 'include/links.html' %}
    <div class="d-flex justify-content-center align-items-center my-5">
        
        <form method="POST" action="{% url 'login' %}" style="width: 300px;">
        {% csrf_token %}
        <div class="d-flex justify-content-center  mb-4">
            <div class="text-center w-100 me-2">
                <a class="navbar-brand" href="{% url 'home' %}"><i class="bi bi-github fs-1"></i></a>
                <h3 class="mt-3">Sign in to Website </h3>
            </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address or username</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required />
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" required/>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember_me"/>
          <label class="form-check-label" for="exampleCheck1">Remember me out</label>
        </div>
        <button type="submit" class="btn btn-success w-100">Sign in</button>
        <div class="mt-3 text-center">
            <p>Don't have an account?<a class="m-1" href="{% url 'signup' %}">Sign up</a></p>
      </form>
    </div>

{% if messages %}
    <!-- Ensure SweetAlert2 is loaded before this script -->
    <script>
      {% for message in messages %}
      Swal.fire({
                icon: '{% if "error" in message.tags %}error{% else %}success{% endif %}', // dynamic icon
                title: '{{ message.tags|capfirst }}',
                text: '{{ message }}',
                timer: 2000,
                timerProgressBar: true,
                showConfirmButton: false
            });
        {% endfor %}
      </script>
{% endif %}

</body>
</html>

  <script src="{% static 'js/sweetie_alert.js' %}"></script>

