{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% block content %}
{% load widget_tweaks %}

    {% include 'include/links.html' %}
    <div class="d-flex justify-content-center align-items-center my-4">
        
          <form method="post" action="" style="width 350px;" class="p-4 rounded">
        {% csrf_token %}

        <div class="d-flex justify-content-center mb-4">
          <div class="text-center w-100 me-2">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="bi bi-github fs-1"></i></a>
        <h3 class="mt-3">Sign up to Website</h3>
          </div>
        </div>

        <div class="d-flex justify-content-between mb-3">
          <div class="me-2 w-50">
        {{ form.name.label_tag }}
        {% render_field form.name class="form-control"  %}
        {% if form.name.errors %}
          <div class="text-danger small">{{ form.name.errors.0 }}</div>
        {% endif %}
          </div>
          <div class="w-50">
        {{ form.last_name.label_tag }}
        {% render_field form.last_name class="form-control" %}
        {% if form.last_name.errors %}
          <div class="text-danger small">{{ form.last_name.errors.0 }}</div>
        {% endif %}
          </div>
        </div>

        <div class="mb-3">
          {{ form.username.label_tag }}
          {% render_field form.username class="form-control" %}
          {% if form.username.errors %}
        <div class="text-danger small">{{ form.username.errors.0 }}</div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.email.label_tag }}
          {% render_field form.email class="form-control"  aria-describedby="emailHelp" %}
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          {% if form.email.errors %}
        <div class="text-danger small">{{ form.email.errors.0 }}</div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.password1.label_tag }}
          {% render_field form.password1 class="form-control"  %}
          {% if form.password1.errors %}
        <div class="text-danger small">{{ form.password1.errors.0 }}</div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.password2.label_tag }}
          {% render_field form.password2 class="form-control" %}
          {% if form.password2.errors %}
        <div class="text-danger small">{{ form.password2.errors.0 }}</div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-success w-100 text-center">Sign up</button>

        <div class="mt-3 text-center">
          <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
        </div>
      </form>
    </div>
{% if messages %}
    <!-- Ensure SweetAlert2 is loaded before this script -->
    <script>
      {% for message in messages %}
      Swal.fire({
                icon '{% if "error" in message.tags %}error{% else %}success{% endif %}', // dynamic icon
                title '{{ message.tags|capfirst }}',
                text '{{ message }}',
                timer 2000,
                timerProgressBar true,
                showConfirmButton false
            });
        {% endfor %}
      </script>
{% endif %}

  <script src="{% static 'js/sweetie_alert.js' %}"></script>
{% endblock content %}
