{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CRUD app</title>
    {% include 'include/links.html' %}
  </head>
  <body>
    {% include 'include/navbar.html' %}

    <!-- block content -->
    {% block content %}

    {% endblock %}

    <!-- js for sweetie alert -->
    {% if messages %}
      <!-- Ensure SweetAlert2 is loaded before this script -->
      <script>
      {% for message in messages %}
      Swal.fire({
                icon: '{% if "error" in message.tags %}error{% else %}success{% endif %}', // dynamic icon
                title: '{{ message.tags|capfirst }}',
                text: '{{ message }}',
                timer: 1500,
                timerProgressBar: true,
                showConfirmButton: false
            });
        {% endfor %}
      </script>
    {% endif %}
  </body>
  <script src="{% static 'js/sweetie_alert.js' %}"></script>
</html>
